*, html, body{
   background-color:#211e1c;
}

#index-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
    "title title title"
    "img1 img2 img3"
    "img4 img5 img5"
    "img6 img5 img5"
    "img7 img8 img9";
}

#index-gallery .gallery-img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#index-gallery h5{
    grid-area: title;
    color: #8A8A8A;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 8vh;
   }

#index-gallery .img1{
   grid-area: img1;
   background-image: url(img/thumbs/img1.jpg);
}


#index-gallery .img2{
   grid-area: img2;
   background-image: url(img/thumbs/img2.jpg);
}


#index-gallery .img3{
   grid-area: img3;
   background-image: url(img/thumbs/img3.jpg);
}

/*
#index-gallery .img4{
   grid-area: img4;
   background-image: url(img/thumbs/img4.jpg);

}*/

#index-gallery .img5{
   grid-area: img5;
   background-image: url(img/thumbs/img5.jpg);
   height: 610px;
 
}

#index-gallery .img6{
   grid-area: img6;
   background-image: url(img/thumbs/img6.jpg);
}

#index-gallery .img7{
   grid-area: img7;
   background-image: url(img/thumbs/img7.jpg);
}

#index-gallery .img8{
   grid-area: img8;
   background-image: url(img/thumbs/img8.jpg);
}

#index-gallery .img9{
   grid-area: img9;
   background-image: url(img/thumbs/img9.jpg);
}
#index-gallery .img10{
   grid-area: img10;
   background-image: url(img/thumbs/img10.jpg);
}

.gallery-img div{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img4 div{
   width: 100%;
   height: 100%;
   background-color: none;
   opacity: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.gallery-img div:hover{
    opacity: 0.7;
    
}

.gallery-img a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
   
}

.gallery-img button{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   color: white;
   text-decoration: none;
   text-transform: uppercase;
   padding: 0;
   border: none;
   background: none;
}




.img-window{
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.8);
   position: fixed;
   top: 0;
   left: 0;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;/*works*/
}

.img-window img{
   max-height: 80vh;
   max-width: 80vw;
}/*Works*/

.img-btn-next{
   display: block;
   padding: 6px 10px;
   border-radius: 4px;
   background-color: #35312d;
   position: fixed;
   top: 48vh;
   z-index: 500;
   font-family: Arial, Helvetica, sans-serif;
   color: #ffffff!important;
   cursor: pointer;
   text-transform: uppercase;
}

.img-btn-next:hover{
   opacity: 0.8;
}

.img-btn-prev{
   display: block;
   padding: 6px 10px;
   border-radius: 4px;
   background-color: #35312d;
   position: fixed;
   top: 48vh;
   z-index: 500;
   font-family: Arial, Helvetica, sans-serif;
   color: #ffffff!important;
   cursor: pointer;
   text-transform: uppercase;
}

.img-btn-prev:hover{
   opacity: 0.8;
}