body, html{
    background-color: transparent!important; 
}

#particles-js{
    height: 85vh;
}

.wrapper-navbar {
    margin: 10vw 30vw;
}

.navbar {
    margin-top: 5vh!important;
    margin-bottom: 0!important;
    max-width: 600px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

li {
    display: flex;
    margin: 0px;
}

li a {
    display: flex;
    height: 40px;
    text-decoration: none;
    border: none;
    text-align: center;
    color: #fdf5de;
    font-size: 0.9em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 4px;
    text-transform: uppercase;
    margin-top: 10px;
}

.navbar li a span{
    position: relative;
}

.navbar svg{
    position: absolute;
    margin-top: 12px;
    margin-left: 5px;
}

li a.current {
    text-decoration: none;
    color: #fdf5de;
}

a:active {
    text-decoration: none;
    color:#fdf5de;
}

li a:hover {
    text-decoration: none;
    color:#fdf5de;
}


@media (min-width: 600px) and (max-width: 1200px){
    .facebook img{
        margin-left: 4vw!important;
    }
    .instagram img{
        margin-left: 8vw!important;
    }
}

@media (min-width: 1200px) and (max-width: 1400px){
    .facebook img{
        margin-left: 4vw;
    }
    .instagram img{
        margin-left: 7vw;
    }
} 


.facebook img{
    margin-top: 150px;
    margin-left: 2vw;
    position: absolute;
    z-index: 1;
   
}

.instagram img{
    margin-top: 150px;
    margin-left: 4vw;
    position: absolute;
    z-index: 1;
}

@media (max-width: 600px){
    .facebook img{
        margin-left: 4vw;
        margin-top: 110px;        

    }
    
    .instagram img{
        margin-left: 12vw;
        margin-top: 110px; 
    }

    
}

.copyright{   
    margin-top: 150px;
    left: 50%;
    margin-left: -200px;
    position: absolute;
    z-index: 1;
    font-weight: 600;
    color:  #fdf5de;
    font-family: 'Montserrat', sans-serif;
   

}

@media (max-width: 700px)
{
    .copyright{  
        margin-left: -170px; 
        font-size: 15px; 
    } 
}

.github-text { 
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    top: 10vh;
    left: 100%;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #fdf5de;
    text-decoration: none;
    position: fixed;
}

.github-text:hover {
    color: azure;
    text-decoration: none;
}

@media(max-width: 700px){
    .github-text{
        display: none;
    }

}


.github { 
    width: 35px;
    top: 5vh;
    left: 95%;
    white-space: nowrap;
    position: fixed;
}

@media (min-width: 700px){
    .github{
       display: none;
    }
}


@media (max-width: 700px)
{
    .github{
    top: 10vh;
    left: 85%;
    }
}

body {
    background-color: #997b66!important;
}

.aboutme {
    background-color: transparent;
}

.name{
  /* font-family: 'Caveat', cursive;*/
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fdf5de;
  font-size: 2em!important;
  font-weight: 800;
  display: flex;

}

.programmer{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fdf5de;
    font-size: 0.8em;
    font-weight: 600;
    display: flex;

}
/*
.aboutme p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0;
    color: #fdf5de;
    font-size: 1em;
    font-weight: 600;
    display: flex;
    margin-top: 5vh;
    margin-left: 15vw;
    margin-right: 0;
    position: absolute;

}
*/

.container-flip span{
    text-align: center;
    padding: 0;
    color: #fdf5de;
    font-size: 0.9em;
    /*font-family: 'Caveat', cursive!important;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: inline;
    margin-top: 5vh;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    -webkit-animation: rotate-word 20s linear infinite;
    animation: rotate-word 20s linear infinite;
   
}

.flip-vegan::after{
    background-image: url(./img/leaf.jpg);
}

.flip-servant::after{
    background-image: url(./img/cat.jpg);
}

.flip-woman::after{
    background-image: url(./img/woman.jpg);
}

.flip-mathematician::after{
    background-image: url(./img/pi.jpg);
}

.flip-minimalist::after{
    background-image: url(./img/minimal.jpg);
}

.flip-photophile::after{
    background-image: url(./img/light.jpg);
}

.flip::after {
    content: '';
    display: inline-block;
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
    background-size: cover;
    width: 25px;
    height: 25px;
}


@media (max-width: 600px){

.container-flip span{     
    margin-top: 15vh;
    justify-content: center;/*               NOT WORKING       */
    margin-left: auto;
    margin-right: auto;
}

.aboutme p{
    text-align: center;
    padding: 5vh 2vw!important;
    margin-top: 20vh;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  
}
}

.flip{
    width: 100%;
}

.container-flip span:first-child {
    
    width: 100%;
}

.container-flip span:nth-child(2) {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.container-flip span:nth-child(3) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.container-flip span:nth-child(4) {
    -webkit-animation-delay: 7.5s;
    animation-delay: 7.5s;
}

.container-flip span:nth-child(5) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.container-flip span:nth-child(6) {
    -webkit-animation-delay: 12.5s;
    animation-delay: 12.5s;
}

@keyframes rotate-word{
    0% {
        opacity: 0;
    }
    1% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    4% {
        opacity: 0;
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    19% {
        opacity: 0;
    }
    20% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


.aboutme h1{
    text-align: center;
    padding: 0;
    color: #997b66;
    font-size: 2.5em;
    font-weight: 600;
    display: flex;
    margin-left: 2vw;
    margin-right: 0;
    position: absolute;
}


.aboutme p {
    text-align: center;
    padding: 0 20vw 2vw 20vw;
    color: #fdf5de;
    font-size: 1.3em;
    display: flex;
    margin-top: 30vh;
    position: absolute;

}

.scrolldown {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.scroll {
    width: 20px;
    border-bottom: 3px solid bisque;
    height: 20px;
    display: flex;
    position: relative;
    border-right: 3px solid bisque;
    transform: rotate(45deg);
    margin: -10px;
    animation: scrolldown 2s infinite;
}

div span:nth-child(1) {
    animation-delay: -0.2s;
}

div span:nth-child(2) {
    /*animation-delay: -0.4s;*/
    animation-delay: -0.6s;
}


/*removed last 2*/

div span:nth-child(3) {
    animation-delay: -0.6s;
}

div span:nth-child(4) {
    animation-delay: -0.8s;
}

@keyframes scrolldown {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-30px, -30px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.CV {
   /* display: inline-block;*/
   display: flex;
    height: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    background: transparent;
    text-decoration: none;
    border: none !important;
    border-radius: 4px;
    /*Text*/
    text-align: center;
    opacity: 1;
    padding: 20px 20px;
    color:  #fdf5de;
    font-size: 1em;
    font-weight: 600!important;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 4px;
    text-transform: uppercase;
}

/****************************            SKILLS SECTION             *****************************/


.index-gallery h5{  /* SKILLS title*/
    grid-area: title;
    color: #fdf5de;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 20vh auto 5vh 15vw;
    display: flex;
    align-content: center;
    justify-content: left;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
   }

   .progress-container {
    height: 0.4rem;
    width: 50px;
    border-radius: 0.4rem;
    background: #3D3129;  
    margin: 0;
    
}
  
  .progress-container .progress{
    height: 100%;
    width: 0;
    border-radius: 0.4rem;
    background: #77a0a9;
    transition: width 0.4s ease;    
  }
 

.wrapper-skills{
    margin: 0 15vw;
}

.main-span-skills{
    display: flex;   
    
}

.main-div-skills{
    width: 70px;
    margin: 30px;
    
}

.skills span img{
    width: 55px;
    justify-content: center;
}

.skills p{
    color: #fdf5de;
    font-size: 1.1em;
    margin-top: 5vh;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

}


.skills div p{
    font-size: 1em;
    display: flex;
  
    
    
}

@media (max-width: 700px){
    
    .main-span-skills{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        }
 
    .main-div-skills{
        margin: 20px;
        width: 60px;

    }
}

/*******************************           WORK SECTION         **********************************/



.index-gallery h5{
    grid-area: title;
    color: #fdf5de;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 20vh auto 5vh 15vw;
    display: flex;
    align-content: center;
    justify-content: left;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
   }

   .index-gallery h3{
    grid-area: title;
    color: #3D3129;
    letter-spacing: 0.1rem;
    margin: 2vh auto 0 15vw;
    display: flex;
    align-content: center;
    justify-content: left;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
   }


.filter-bullets {
    display: none;
}

.filter-quote{
    margin: 10vh 0 3vh 0;
    display: flex;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.wrapper-filter {
    margin: 0 15vw!important;
}

.filter {
    margin: 0px auto;
    margin-bottom: 5vh!important;
  
}

.filter-p {
    color: #fdf5de;
    font-size: 1.1em;
    margin-top: 5vh!important;
    margin-bottom: 5vh!important;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}


.filter li{
    padding-right: 20px;
}

.filter li a{
    font-weight: 600!important;
    font-family: 'Montserrat', sans-serif;
}

.filter li a:hover{
    color: #161413;
}

.wrapper-webDev {
    margin: 5vh 8vw;
}

.wrapper-gallery h5{
    margin: auto;
}


.container {
    width: 100%;
    max-width: 600px;
    margin-top: 15vh!important;
    margin-bottom: 13vh;
}

.container a{
    margin-top: 0px;
}

.veziproiect {
    color: #fdf5de;
    font-weight: 600;
    padding: 0;
    margin: auto;
    display: flex;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.veziproiect:hover {
    color: rgb(77, 80, 80);
    text-decoration: none;
}


.gr-details p{
    float: right;
    color: azure;
    margin: 25vh 5vw 25vh 15vw;
  /*background-color: #323332;*/
    background-color: #6E5949;
    padding: 5vh 5vw;
    max-width: 500px;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;

}

.gr1 {
    display: grid;
    grid-area: grid1;
    margin-top: 50px;
}

.gr1-item0:hover {
    position: relative;
    z-index: 100;
}

.gr1-item1:hover {
    position: relative;
    z-index: 100;
}

.gr1-item2:hover {
    position: relative;
    z-index: 100;
}

.gr1-item img {
    width: 30vw;
}

.gr1-item2 img {
    width: 15vw;
}

.gr1-item:first-of-type {
    grid-column: 2/span 2;
    grid-row: 1/span 2;
}

.gr1-item:nth-of-type(2) {
    grid-column: 2/span 3;
    grid-row: 3/span 3;
}

.gr1-item:last-of-type {
    grid-column: 1/span 2;
    grid-row: 2/span 2;
}

.gr2 {
    display: grid;
    grid-area: grid2;
    margin-top: 50px;
}

.gr2-item img {
    width: 30vw;
}

.gr2-item2 img {
    width: 15vw;
}

.gr2-item:first-of-type {
    grid-column: 2/span 2;
    grid-row: 1/span 2;

}


.gr2-item:last-of-type {
   grid-column: 1/span 2;
   grid-row: 2/span 2;
   
}

.gr2-item {
    position: static;
}

.skill {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gr2-item:hover {
    position: relative;
    z-index: 100;
}

.gr2-item2:hover {
    position: relative;
    z-index: 100;
}

.gr2-item div {
    opacity: 0;
}

.gr2-item div:hover {
    opacity: 1;
}

.gr3 {
    display: grid;
    grid-area: grid3;
    margin-top: 50px;
}

.gr3-item img {
    width: 30vw;
}

.gr3-item1 img {
    width: 15vw;
}

.gr3-item2 img {
    width: 15vw;
}

.gr3-item:hover {
    position: relative;
    z-index: 100;
}

.gr3-item1:hover {
    position: relative;
    z-index: 100;
}

.gr3-item2:hover {
    position: relative;
    z-index: 100;
}

.gr3-item:first-of-type {
    grid-column: 2/span 2;
    grid-row: 1/span 2;
}

.gr3-item:nth-of-type(2) {
    grid-column: 1/span 2;
    grid-row: 2/span 2;
}

.gr3-item:last-of-type {
    grid-column: 3/span 3;
    grid-row: 3/span 3;
    margin-left: -10vw;
}

.gr4 {
    display: grid;
    grid-area: grid4;
    margin-top: 50px;

}

.gr4-item0:hover {
    position: relative;
    z-index: 100;
}

.gr4-item1:hover {
    position: relative;
    z-index: 100;
}

.gr4-item2:hover {
    position: relative;
    z-index: 100;
}

.gr4-item img {
    width: 30vw;
}

.gr4-item2 img {
    width: 15vw;
}

.gr4-item:first-of-type {
    grid-column: 2/span 4;
    grid-row: 1/span 2;
}

.gr4-item:nth-of-type(2) {
    grid-column: 1/span 2;
    grid-row: 3/span 3;
    margin-top: 5vw;
}

.gr4-item:last-of-type {
    grid-column: 1/span 2;
    grid-row: 1/span 3;
}

.gr5 {
    display: grid;
    grid-area: grid5;
    margin-top: 50px;
}

.gr5-item img {
    width: 30vw;
}

.gr5-item2 img {
    width: 15vw!important;
}

.gr5-item:first-of-type {
    grid-column: 3/span 3;
    grid-row: 1/span 2;
}

.gr5-item:last-of-type {
    grid-column: 5/span 5;
    grid-row: 2/span 2;
}

.gr5-item {
    position: static;
}

.gr5-item:hover {
    position: relative;
    z-index: 100;
}

.gr5-item2:hover {
    position: relative;
    z-index: 100;
}

.gr5-item div {
    opacity: 0;
}

.gr5-item div:hover {
    opacity: 1;
}



#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 60px;
    grid-template-areas: "grid1 grid2" "grid1 grid2" "grid3 grid4" "grid3 grid4" "grid5 grid6" "grid5 grid6";
}

@media screen and (max-width: 600px) {
body, html {
    width: 100%;
}

    .navbar {
        margin-top: 2vh!important;
    }
    .wrapper-webDev {
        margin: 0;
    }

    .wrapper-gallery{
        margin: 5vh 5vw!important;
    }

    .wrapper-gallery h5{
        margin: auto;
    }

    .filter-quote{
        margin: 5vh 0 2vh 0;
        display: flex;
             
    }

    .aboutme h1 {
        font-size: 2em;
        margin-left: 5vw;
    }

    .design {
        margin-top: 60vh;
    }

    .prototype {
        margin-top: 65vh;
    }

    .code {
        margin-top: 70vh;
    }
    .aboutme p {
        font-size: 1.4em;
        margin-top: 16vh;
    }

    #index-gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 60px;
        grid-template-areas: "grid1" "grid2" "grid3" "grid4" "grid5" "grid6";
    }
    .container {
        width: 100%;
        max-width: 500px!important;
        margin-top: 0!important;
        display: flex;
        margin: auto!important;
    }


    .veziproiect {
        margin-left:10vw;
    }
    

    .gr-details{
        display: flex;
        flex-direction: column;
        margin: 7vh 10vw;
        float: center;

    }

    .gr-details p{
        margin: 0; 
    }

    .gr1-item:first-of-type {
        grid-column: 2/span 2;
        grid-row: 1/span 2;
        margin-bottom: 10px;
    
    }
    .gr1-item:nth-of-type(2) {
        grid-column: 2/span 3;
        grid-row: 3/span 3;
    }
    .gr1-item:last-of-type {
        /*
        grid-column: 1.5/span 2;
        grid-row: 2/span 2;
    */
        display: none;
    }
    .gr1-item img {
        width: 90vw;
    }

    /*
    .gr1-item2 img {
        width: 40vw;
    }*/


.gr2-item{
    display: flex;
    justify-content: center;
}
    

.gr2-item img{
    width: 62%!important;
    margin: auto;
}


.gr2-item:first-of-type {
    display: none;
}

.gr2-item2 img {
    width: 40vw;
}
 
 
    .gr3-item:first-of-type {
        display: none;
    }
 
    .gr3-item img {
        width: 70vw;
    }
    .gr3-item1 img {
        width: 40vw;
    }
    .gr3-item2 img {
        width: 40vw;
    }
    .gr4-item {
        display: flex;
    }

    .gr4-item img{
        width: 60%!important;
        margin: auto;
        padding: 0!important;
        

   }
    .gr4-item:nth-of-type(1) {
        display: none;
       
    }
  
 
    .gr4-item img {
        width: 90vw;
    }

    .gr4-item4.2 img {
        width: 55vw;
    }

    .gr4-item2 img {
        width: 55vw;
        padding-left: 15vw;
    }
    /*.gr4-item:nth-of-type(2) {
        margin-top: 10px;
    }*/

    .gr5-item img {
        width: 70vw;
    }
    .gr5-item2 img {
        width: 40vw!important;
    }
    .full-text {
        display: none;
    }
    .short-text {
        display: inline!important;
    }
    
}


/*******************        FOOTER          *********************/

.polygon:after {
    background-color: #997b66;
    /*background-color: #211e1c;*/
    clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
    margin-top: -1px;
    border-top: 1px #997b66;
    border-right: 1px #997b66;
 }


.polygon:after {
    height: 50px;
    width: 100%;
    content: '';
    position: absolute;
    
}

    #video{
        object-fit: cover;
        width: 100%;
        height: 40%;
        margin-bottom: 0!important;
        position: absolute;
        z-index: -1;
        opacity: 1;
    }
    
    
    .video-container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }
    
    
  